requests>=2.27.1
bs4>=0.0.1
colorama
clint>=0.5.1
tabulate>=0.8.0
Levenshtein>=0.20.9
numpy>=1.19.5
pyyaml>=5.0
tika>=2.6.0
python-magic>=0.4.27
py7zr>=0.20.4
rarfile>=4.0
validators>=0.20.0
elasticsearch>=8.6.2
pyOpenSSL>=23.0.0
xmltodict>=0.13.0
GitPython>=3.1.31
exrex>=0.11.0
ansi2image>=0.1.4
pimht>=0.4.3